<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles.css" />

    <title>Document</title>
  </head>
  <body>
    <h1>Sign up to become a member</h1>
    <form action="">
      <input type="text" id="name" placeholder="Name" />
      <input type="text" id="surname" placeholder="Surname" />
      <input type="text" id="username" placeholder="Username" />
      <input type="text" id="password" placeholder="Password" />
      <input type="text" id="confirm-password" placeholder="Confirm password" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
